@using linophi.Utility
@using LinophiWeb.Utility
@model LinophiWeb.Models.ExternalLoginConfirmationViewModel

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section CSS{
    <link href="~/Content/css/Account/externalLoginConfirmation.css" rel="stylesheet" />
}
@section JS{
    <script src="~/Scripts/Account/externalLoginConfirmation.js"></script>
}
<div class="confirmation-container">
    <img class="confirmation-logo" src="/Content/imgs/logo2.png" />
    <div class="form-container">
        <h1>新規ユーザー登録</h1>
        <p>ご安心ください。入力はたったのこの一ページで終了します。</p>
        @using (Html.BeginForm())
        {
            <div class="confirmation-form-container">
                <div class="confirmation-colmn">
                    <p class="confirmation-row">ニックネーム:</p>
                    <p class="confirmation-row">生年月日:</p>
                    <p class="confirmation-row">性別:</p>
                    <p class="confirmation-row">メールアドレス: </p>
                </div>
                <div class="confirmation-colmn confirmation-colmn-right">
                    <div class="confirmation-row">
                        @Html.TextBoxFor(model => model.NickName, new { placeholder = "例:りのりすたん", @class = "confirmation-textbox　name-border", id = "nickname" })
                    </div>
                    <div class="confirmation-form-birthday-container confirmation-row">
                        @Html.DropDownListFor(model => model.Day, BirthDayInputHelper.getYearList(), new { @class = "birthday-border", id = "year" })
                        <p>年</p>
                        @Html.DropDownListFor(model => model.Month, BirthDayInputHelper.getMonthList(), new { @class = "birthday-borderk", id = "month" })
                        <p>月</p>
                        @Html.DropDownListFor(model => model.Day, BirthDayInputHelper.getDayList(), new { @class = "birthday-border", id = "day" })
                        <p>日</p>
                    </div>
                    <div class="confirmation-row">
                        @Html.DropDownListFor(model => model.Gender, GenderInputHelper.getGenderInput(), new { @class = "confirmation-gender-box", id = "gender" })
                    </div>
                    <div class="confirmation-row">
                        @Html.TextBoxFor(model => model.Email, new { placeholder = "例:your@email.com", @class = "confirmation-textbox mail-border", id = "mail", type = "mail" })
                    </div>
                </div>
                <div class="form-centerize">
                    @Html.CheckBoxFor(model => model.AgreeWithTerm, new { id = "agreeWithTerm" })
                    <label for="agreeWithTerm">
                        @Html.ActionLink("利用規約", "Terms", "Home", null, new { target = "_blank" }) と
                        @Html.ActionLink("プライバシーポリシー", "PrivacyPolicy", "Home", null, new { target = "_blank" })
                        に同意する
                    </label>
                    <p class="checkbox-blank　err">同意した上でチェックしてください。</p>
                </div>
                <div class="form-centerize">
                    @Html.CheckBoxFor(model => model.AcceptEmailToNotify, new { id = "acceptEmailNotify" })
                    <label for="acceptEmailNotify">linophiからの通知メールを受け取る</label>
                </div>
                <div class="progress-bar">
                    <div class="color-bar"></div>
                </div>
                <div class="confirmation-submitbtn-container" id="SignUp">
                    <input type="submit" value=">> この内容で登録 <<" id="submitBtn" />
                </div>
            </div>
        }
    </div>
</div>